<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042497418554-ch7jd5as955begiu5kvgkusa6b2mb4en.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042497418554-ch7jd5as955begiu5kvgkusa6b2mb4en</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1042497418554-iqgktr68lsc2rfniuli7nrlbksbi7e9d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMC5gNPN6lwbKolffPLH2y6OwHNWRDfNU</string>
	<key>GCM_SENDER_ID</key>
	<string>1042497418554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guardRonde</string>
	<key>PROJECT_ID</key>
	<string>myGuardRonde-5e57e</string>
	<key>STORAGE_BUCKET</key>
	<string>myGuardRonde-5e57e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042497418554:ios:5f9ee4b636dff9c749cc03</string>
</dict>
</plist>